<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- V18_EMPTY_ATTRIBUTION
         O AppOps está requisitando uma attributionTag vazia.
         O recurso abaixo resolve para string vazia sem usar android:tag="". -->
    <attribution
        android:tag="@string/v18_empty_attribution_tag"
        android:label="@string/v18_attribution_label" />

    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
        <intent>
            <action android:name="com.google.android.gms.auth.api.signin.ACTION_SIGN_IN" />
        </intent>
        <intent>
            <action android:name="com.google.android.gms.auth.api.signin.SERVICE_CONFIG" />
        </intent>
    </queries>

<application
        android:name=".UsinagemMasterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Usinagem Master"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UsinagemMaster">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
